.main {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;

}

.arquivo{
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}

.arquivo p{
    font-weight: bold;
    margin-right: 15px;
}

.main .main_head {
    font-size: 16px;
    color: #888888;
    font-weight: bold;
    width: 100%;
}

.main_head p {
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
    color: #888888;
}


.container {

    background-color: white;
    border-radius: 16px;
    width: 500px;
    padding: 70px 0px 50px 80px;
    margin-top: 10px;
    margin-left: -70px;
    height: 420px;
}

.container_head {
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;



}

.container_head .total {
    color: var(--paletaNum1);
}



.buttons {
    margin-left: 35px;
    margin-top: -15px;
    width: 400px;
    display: flex;


}



.buttons .button_two {
    margin-left: 15px;
    width: 340px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: var(--secundary-color);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 0;
    cursor: pointer;

}

.container_top {
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
    width: 350px;

}


.container_top .passagem .line {
    width: 338px;
    height: 4px;
    background-color: var(--paletaNum1);
    position: absolute;
    z-index: 0;
    margin-top: 5px;
    margin-left: 3px;
}

.select {
    margin-top: -100px;
    width: 195px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

.select select {
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    position: absolute;
    width: 316px;
    height: 40px;
    border: none;
    background-color: #F2F2F2;
    color: var(--secundary-color);
    font-size: 16px;
    padding: 5px 5px 5px 10px;



}

.center {
    margin-top: 75px;
    margin-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center p {
    font-weight: bold;
    font-size: 22px;

}

.container_main {
    display: flex;
    width: 320px;
    height: 380px;
    display: flex;
    margin-left: 60px;
    margin-top: -15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_main .input_valor {

    width: 300px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    margin-top: 20px;
    font-size: 18px;
    padding: 0px 20px;
}

.container_main .file {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

input[type="file"] {
    display: none;
    /* color:transparent; */
}

.file img {
    margin-top: 6px;
    margin-left: 180px;
}

label {
    width: 300px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    margin-top: 20px;
    font-size: 18px;
    padding: 0px 20px;
    color: #807f7f;
    font-size: 18px;
    cursor: pointer;

}

.container_right {
    /* background-color: brown; */
    display: flex;
    justify-content: flex-end;
    width: 285px;
    margin-left: 330px;
    margin-top: -280px;


}

.container_right img {
    width: 300px;
}



@media screen and (max-width: 1150px) {

    .main {
        margin-top: 50px;
    }

    .container {
        margin-top: 150px;
    }

}

@media screen and (max-width: 900px) {


    .container_top {
        margin-left: 5px;
        font-size: 24px;
        font-weight: bold;
        width: 350px;

    }

    .container_top .passagem .line {
        width: 335px;
        height: 4px;
        background-color: var(--paletaNum1);
        position: absolute;
        z-index: -1;
        margin-top: 5px;
        margin-left: 3px;
    }

    .buttons {

        width: 300;
        margin-top: 25px;
        margin-left: -10px;

    }



    .buttons .button_two {
        width: 340px;
        height: 46px;

    }

    input[type="file"] {
        display: none;
    }

    .container {
        width: 420px;
        height: 430px;
        margin-top: 10px;
        margin-left: 100px;

    }
    .container_main .input_valor {

        width: 300px;
        height: 45px;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
        margin-top: 27px;
        font-size: 18px;
        padding: 0px 20px;
    }
    
    

    .container_main {
        display: flex;
        width: 320px;
        height: 330px;
        display: flex;
        margin-left: 15px;
        margin-top: 15px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    label {
        width: 300px;
        height: 45px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 27px;
    }



}

@media screen and (max-width: 600px) {

    .container_top {
        margin-left: -12px;
        font-size: 20px;
        font-weight: bold;
        width: 350px;

    }

    .container_main .input_valor {
        width: 250px;
        height: 50px;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
        margin-top: 27px;
        font-size: 18px;
        padding: 0px 20px;
    }

    input[type="file"] {
        display: none;
        /* color:transparent; */
    }

    label {
        width: 250px;
        height: 45px;
        border-radius: 5px;
        outline: none;
        border: none;
        box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
        margin-top: 27px;
        font-size: 18px;
        padding: 0px 20px;
        color: #807f7f;
        font-size: 18px;
        cursor: pointer;
    }

    .file label img {

        margin-top: -15px;
        margin-left: 220px;

    }

    .buttons {

        width: 300;
        margin-left: -30px;

    }


    .buttons .button_two {
        width: 290px;
        height: 46px;

    }

    .container {
        width: 330px;
        height: 420px;
        margin-top: 10px;
        margin-left: 100px;

    }

    .container_main {
        display: flex;
        width: 320px;
        height: 280px;
        display: flex;
        margin-left: -30px;
        margin-top: 25px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .container_top .passagem .line {
        width: 280px;
        height: 4px;
        background-color: var(--paletaNum1);
        position: absolute;
        z-index: -1;
        margin-top: 5px;
        margin-left: 3px;
    }


}