.main {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;
}

.main .main_head {
    font-size: 16px;
    color: #888888;
    font-weight: bold;
    width: 100%;
}

.main_head p {
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
    color: #888888;
}


.container {

    background-color: white;
    border-radius: 16px;
    width: 500px;
    padding: 70px 0px 50px 80px;
    margin-top: 50px;
    margin-left: -70px;
    z-index: -2;
    height: 340px;
}

.container_head {
    margin-left: 40px;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;



}

.container_head .total {
    color: var(--paletaNum1);
}



.buttons {
    margin-left: 50px;
    margin-top: -60px;
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 270px;
    /* background-color: blue; */
 


}

.buttons .button_one {
    width: 150px;
    height: 45px;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    z-index: 0;
    cursor: pointer;

}


.buttons .button_two {
    margin-left: 10px;
    width: 150px;
    height: 45px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: var(--secundary-color);
    border-radius: 10px;
    margin-top: 5px;
    z-index: 0;
    cursor: pointer;

}

.container_top {
    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
    width: 350px;

}


.container_top .passagem .line {
    width: 310px;
    height: 3px;
    background-color: var(--paletaNum1);
    position: absolute;
    z-index: -1;
    margin-top: 5px;
    margin-left: 3px;
}

.select {
    margin-top: -100px;
    width: 195px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

.select select {
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    position: absolute;
    width: 316px;
    height: 40px;
    border: none;
    background-color: #F2F2F2;
    color: var(--secundary-color);
    font-size: 16px;
    padding: 5px 5px 5px 10px ;



}

.center {
    margin-top: 75px;
    margin-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center p {
    font-weight: bold;
    font-size: 22px;

}

.container_main {
    display: flex;
    width: 320px;
    height: 230px;
    display: flex;
    margin-left: 50px;
    margin-top: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container_main input {

    width: 297px;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    background-color: white;
    padding: 10px 10px;
    margin: 8px 0;
    margin-top: 50px;
    border: none;
    border-bottom: 3px solid var(--paletaNum1);

}
.container_right{
    /* background-color: brown; */
    display: flex;
    justify-content:flex-end;
    width: 285px;
    margin-left: 330px;
    margin-top: -280px;
    

}
.container_right img{
    width: 300px;
}



@media screen and (max-width: 1150px) {

    .main {
        margin-top: 50px;
    }

    .container {
        margin-top: 150px;
    }

}

@media screen and (max-width: 900px) {

    .container_top {
        margin-left: 16px;
        font-size: 22px;
        font-weight: bold;
        width: 350px;
    
    }
    .buttons {
    
        width: 300;
        /* float: right; */
        margin-left: 15px;
    
    }
    
    .buttons .button_one{
        width: 180px;
        height: 46px;


    }

    .buttons .button_two {
        width: 180px;
        height: 46px;
    
    }

    .container {
        width: 430px;
        height: 350px;
        margin-top: 120px;
        margin-left: 100px;

    }
    .container_main {
        display: flex;
        width: 320px;
        height: 230px;
        display: flex;
        margin-left: 15px;
        margin-top: 15px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

   
    
}

@media screen and (max-width: 600px) {

    .container_top {
        margin-left: 5px;
        font-size: 18px;
        font-weight: bold;
        width: 350px;
    
    }
    .buttons {
    
        width: 200;
        /* float: right; */
        margin-left: -30px;
    
    }
    
    .buttons .button_one{
        width: 117px;
        height: 46px;


    }

    .buttons .button_two {
        width: 117px;
        height: 46px;
    
    }

    .container {
        width: 330px;
        height: 300px;
        margin-top: 120px;
        margin-left: 100px;

    }
    .container_main {
        display: flex;
        width: 320px;
        height: 230px;
        display: flex;
        margin-left: -30px;
        margin-top: 15px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container_top .passagem .line {
        width: 253px;
        height: 3px;
        background-color: var(--paletaNum1);
        position: absolute;
        z-index: -1;
        margin-top: 5px;
        margin-left: 3px;
    }
    .container_main input {

        width: 250px;
        text-decoration: none;
        box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
        background-color: white;
        padding: 10px 10px;
        margin: 8px 0;
        margin-top: 50px;
        border: none;
        border-bottom: 3px solid var(--paletaNum1);
    
    }
    
.select select {
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    position: absolute;
    width: 268px;
    height: 40px;
    border: none;
    background-color: #F2F2F2;
    color: var(--secundary-color);
    font-size: 16px;
    padding: 5px 5px 5px 10px ;



}

   
    
   

   
    

}



