.main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    float: right;
}

.cardAtencao{
    width: 400px;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    padding: 20px 50px;
}

.cardAtencao img{
    width: 40px;
    margin-top: -20px;
    margin-left: -30px;
}

.cardAtencao .titulo{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    color: #424242;
}

.cardAtencao .text{
    font-size: 18px;
    color: #4b4b4b;
    margin-top: 10px;
}

.mainAtencao{
    width: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardAtencao button{
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: var(--secundary-color);
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.main .main_head{
    font-size: 16px;
    color: #888888;
    font-weight: bold;
    width: 100%;
}

.main_head p{
    font-weight: normal;
    font-size: 12px;
    margin-top: 10px;
    color: #888888;
}


.container{
    background-color: white;
    border-radius: 16px;
    width: 770px;
    padding: 70px 0px 50px 80px;
    margin-top: 50px;
    z-index: 0;
}

.container_head{
    font-size: 25px;
    font-weight: bold;
}

.container_head .desc{
    font-size: 22px;
    font-weight: normal;
    margin-top: 5px;
    z-index:auto;
}

.container_head .passagem .line{
    width: 94px;
    height: 17px;
    background-color: var(--paletaNum1);
    position: absolute;
    z-index: -1;
    margin-top: -20px;
    margin-left: 70px;
}

.container .container_head button{
    width: 220px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: var(--secundary-color);
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}


.container .container_main .titulo{
    font-size: 20px;
    margin-top: 50px;
}

.pagamentos{
    padding: 20px 20px 20px 0px;
    width: 580px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1150px){
    .container{
        margin-top: 130px;
    }
}


@media screen and (max-width: 900px) {
    .container{
        width: 450px;
        margin-top: 130px;
    }

    .pagamentos{
        width: 400px;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .pagamentos{
        width: 300px;
    }

    .container_head .passagem .line{
        width: 70px;
        margin-left: 50px;
    }



    .container{
        padding: 70px 0px 50px 40px;
        width: 300px;
    }

    .container_head p{
        font-size: 20px;
    }
   .container_head .desc{
        font-size: 16px;
    }

    .container .container_head button{
        font-size: 15px;
        width: 150px;
    }

    .container .container_main .titulo{
        font-size: 15px;
    }
}