
.funcionario{
    height: 75px;
    display: flex;
    background-color: white;
    width: 320px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    cursor: pointer;
}

.funcionario:hover .number{
    background-color: var(--paletaNum3);
}



.funcionario:hover .funcionarios{
    color: var(--secundaryColor);
    font-weight: bold;
}

.funcionario img{
    width: 17px;
}

.funcionario .icon{
    width: 33px;
    height: 33px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.funcionario .nome{
    color: #888888;
    width: 150px;
    font-size: 15px;
    font-weight: 600;
}

.funcionario .email{
    font-size: 14px;
 
}

.funcionario .icon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.funcionario .icon img{
    width: 30px;
}

.editar img{
    width: 26px;
    height: 26px;
}

.apagar img{
    width: 26px;
    height: 26px;
}

.cadastrarItem{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -411px;
    margin-top: -187px;
}

.cadastrarItem .popup{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.popup .header_popup{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 40px;
}

.popup .header_popup .line{
    width: 9px;
    height: 69px;
    background-color: var(--paletaNum2);
    border-radius: 20px;
}

.popup .header_popup .titulo{
    width: 310px;
    font-size: 28px;
    font-weight: bold;
}

.popup .inputs{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.popup .inputs input{
    width: 300px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 25%);
    margin-top: 20px;
    font-size: 18px;
    padding: 0px 20px;
}

.popup button{
    width: 340px;
    height: 45px;
    background-color: var(--secundary-color);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 40px;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .editar img{
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    
    .apagar img{
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    .funcionario .icon img{
        width: 26px;
    }

    
}